<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard | CARSPECX</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header class="navbar">
    <img src="{{ url_for('static', filename='images/CARSPECX.png') }}" class="logo">
    <nav>
        <a href="/">Home</a>
        <a href="/finder">Car Finder</a>
        <a href="/recommend">Recommend</a>
        <a href="/compare_select">Compare</a>
        <a href="/emi">EMI</a>
        <a href="/admin">Logout</a>
    </nav>
</header>

<h2 class="title">Admin Dashboard</h2>

<table class="details-table">
    <tr>
        <th>ID</th>
        <th>Car Name</th>
        <th>Brand</th>
        <th>Price</th>
    </tr>
    {% for car in cars %}
    <tr>
        <td>{{ car.id }}</td>
        <td>{{ car.car_name }}</td>
        <td>{{ car.brand }}</td>
        <td>{{ car.price }}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>
