<!DOCTYPE html>
<html>
<head>
    <title>Compare | CARSPECX</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header class="navbar">
    <img src="{{ url_for('static', filename='images/CARSPECX.png') }}" class="logo">
    <nav>
        <a href="/">Home</a>
        <a href="/finder">Car Finder</a>
        <a href="/recommend">Recommend</a>
        <a href="/compare_select">Compare</a>
        <a href="/emi">EMI</a>
        <a href="/admin">Admin</a>
    </nav>
</header>

<h2 class="title">Car Comparison</h2>

<table class="compare-table">
    <tr>
        <th>Specs</th>
        <th>{{ car1.car_name }}</th>
        <th>{{ car2.car_name }}</th>
    </tr>

    <tr><td>Brand</td><td>{{ car1.brand }}</td><td>{{ car2.brand }}</td></tr>
    <tr><td>Price</td><td>{{ car1.price }}</td><td>{{ car2.price }}</td></tr>
    <tr><td>Fuel</td><td>{{ car1.fuel_type }}</td><td>{{ car2.fuel_type }}</td></tr>
    <tr><td>Transmission</td><td>{{ car1.transmission }}</td><td>{{ car2.transmission }}</td></tr>
    <tr><td>Engine</td><td>{{ car1.engine }}</td><td>{{ car2.engine }}</td></tr>
    <tr><td>Power</td><td>{{ car1.power }}</td><td>{{ car2.power }}</td></tr>
    <tr><td>Torque</td><td>{{ car1.torque }}</td><td>{{ car2.torque }}</td></tr>
    <tr><td>Seating</td><td>{{ car1.seating_capacity }}</td><td>{{ car2.seating_capacity }}</td></tr>
    <tr><td>Boot</td><td>{{ car1.boot_space }}</td><td>{{ car2.boot_space }}</td></tr>
    <tr><td>Fuel Tank</td><td>{{ car1.fuel_tank }}</td><td>{{ car2.fuel_tank }}</td></tr>
    <tr><td>Doors</td><td>{{ car1.doors }}</td><td>{{ car2.doors }}</td></tr>
    <tr><td>Steering</td><td>{{ car1.steering_type }}</td><td>{{ car2.steering_type }}</td></tr>
    <tr><td>Front Tyres</td><td>{{ car1.front_tyres }}</td><td>{{ car2.front_tyres }}</td></tr>
    <tr><td>Rear Tyres</td><td>{{ car1.rear_tyres }}</td><td>{{ car2.rear_tyres }}</td></tr>
    <tr><td>Overspeed Warning</td><td>{{ car1.overspeed_warning }}</td><td>{{ car2.overspeed_warning }}</td></tr>
    <tr><td>Safety Rating</td><td>{{ car1.safety_rating }}</td><td>{{ car2.safety_rating }}</td></tr>
    <tr><td>Brakes</td><td>{{ car1.brakes }}</td><td>{{ car2.brakes }}</td></tr>
    <tr><td>Gear Indicator</td><td>{{ car1.gear_indicator }}</td><td>{{ car2.gear_indicator }}</td></tr>
    <tr><td>Warranty</td><td>{{ car1.warranty }}</td><td>{{ car2.warranty }}</td></tr>
</table>

</body>
</html>
