<!DOCTYPE html>
<html>
<head>
    <title>Compare Cars | CARSPECX</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header class="navbar">
    <img src="{{ url_for('static', filename='images/CARSPECX.png') }}" class="logo">
    <nav>
        <a href="/">Home</a>
        <a href="/finder">Car Finder</a>
        <a href="/recommend">Recommend</a>
        <a href="/compare_select">Compare</a>
        <a href="/emi">EMI</a>
        <a href="/admin">Admin</a>
    </nav>
</header>

<h2 class="title">Select Cars to Compare</h2>

<form action="/compare" method="POST" class="filter-form">
    <select name="car1">
        <option value="">Select Car A</option>
        {% for car in cars %}
        <option value="{{ car.id }}">{{ car.car_name }}</option>
        {% endfor %}
    </select>

    <select name="car2">
        <option value="">Select Car B</option>
        {% for car in cars %}
        <option value="{{ car.id }}">{{ car.car_name }}</option>
        {% endfor %}
    </select>

    <button type="submit">Compare</button>
</form>

</body>
</html>
