<!DOCTYPE html>
<html>
<head>
    <title>EMI Calculator | CARSPECX</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header class="navbar">
    <img src="{{ url_for('static', filename='images/CARSPECX.png') }}" class="logo">
    <nav>
        <a href="/">Home</a>
        <a href="/finder">Car Finder</a>
        <a href="/recommend">Recommend</a>
        <a href="/compare_select">Compare</a>
        <a href="/emi">EMI</a>
        <a href="/admin">Admin</a>
    </nav>
</header>

<h2 class="title">EMI Calculator</h2>

<form method="POST" class="filter-form">
    <input type="number" name="price" placeholder="Car Price" required>
    <input type="number" name="rate" placeholder="Interest Rate (%)" required>
    <input type="number" name="years" placeholder="Loan Tenure (Years)" required>
    <button type="submit">Calculate EMI</button>
</form>

{% if emi %}
<h3 class="title">Monthly EMI: ₹{{ emi }}</h3>
{% endif %}

</body>
</html>
